output
saves
worlds
log.txt

assets/recents.txt

FloodForge.exe
FloodForge
FloodForge.zip
FloodForge-Windows.zip
FloodForge-Linux.zip

build/obj
build/.buildmode
build/.depend

TODO.md
CHANGES.md

.vscode/
/.clangd
*.tmp